@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(174, 165, 165);
}
input {
  border: none;
  outline: none;
}

.my {
  margin: 25px 0;
}
.py {
  padding: 8px 0;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;

  .header {
    margin-top: 100px;
    padding: 60px 20px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    .image {
      width: 45%;

      img {
        height: 350px;
      }
    }

    .form {
      width: 45%;

      .checkbox {
        display: flex;

         input {
          width: 20px;
          height: 20px;
        }
      }

      .name,
      .password {
        border-bottom: 1px solid #000;
      }

      i,
      .checkbox input {
        margin-right: 8px;
      }
    }
    button {
      padding: 10px 20px;
      background: rgb(66, 116, 181);
      border: none;
      border-radius: 7px;

      font-size: 18px;
      color: #fff;
    }
  }

  footer {
    width: 100%;
    display: flex;
    justify-content: space-around;

    a{
        color: #000;
    }
    .else {
      display: flex;
      align-items: center;

      .social {
        display: flex;
        align-items: center;

        .fb, .twitter, .google  {
          width: 34px;
          height: 28px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          font-size: 18px;
          margin-left: 14px;
          border-radius: 5px;
        }
        .fb{
            background-color: rgb(47, 47, 189);
        }
        .twitter{
            background-color: rgb(42, 114, 185);
        }
        .google{
            background-color: rgb(194, 34, 34);
        }
      }
    }
  }
}
